People's Views
<h1>Poll: {{ object.title }}</h1>

<h4>Current results</h4>
<p>As of {{ object.pollresult_set.first.datestamp }}:<p>
<pre>{{ object.pollresult_set.first.result }}</pre>

<h4>Options:</h4>
<ul>
  {% for candidate in poll.candidate_set.all %}
    <li>{{ candidate.title }}</li>
  {% endfor %}
</ul>

<h4>{{ object.vote_set.count }} votes cast so far</h4>

<h3><a href="/api/poll/">List all polls or create new poll</a></h3>
<h3><a href="/api/candidate/?poll={{ object.id }}">List options or add new option(s)</a></h3>
<h3><a href="/api/vote/?poll={{ object.id }}">List votes or add your own vote</a></h3>


<form method="POST">
  {% csrf_token %}
  <input type="submit" name="action" value="Calculate results">
</form>
