.DS_Store
node_modules/
# vue init webpack starts out ignoring /dist/ but I don't know why
# restore dist/ to .gitignore before deploying to Heroku
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Python virtual environment and cache
venv/
__pycache__
.Python
*.pyc

# Django local settings and sqlite database 
db.sqlite3
local_settings.py
